<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Excluir Usuário</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Certeza que deseja excluir o usuário <span class="text-primary">"{{ usuario.nome }}"</span>?</strong></p>
    <p>Todos seus amigos e jogos também serão excluídos.
    <span class="text-danger">Esta operação não pode ser desfeita.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="confirmar()">Ok</button>
  </div>