<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Exclusão de Usuário</h1>
        <div class="alert alert-danger" *ngIf="erros.length > 0">
            <h3 id="msgRetorno">Os seguintes erros ocorreram:</h3>
            <ul>
                <li *ngFor="let erro of erros">{{ erro }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Nome"><b>Nome:</b> </label>
                        {{ usuario.nome }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="Login"><b>Login:</b> </label>
                        {{ usuario.login }}
                    </div>
                </div>

                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ativo" disabled="disabled"
                        [checked]="usuario.ativo">
                    <label class="custom-control-label" for="ativo">Ativo?</label>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Tipo</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="tipoAdmin" name="tipo" class="custom-control-input" type="radio" value="A"
                            disabled="disabled"
                            [checked]="usuario.tipo == 'A'">
                        <label class="custom-control-label" for="tipoAdmin">Administrador</label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input id="tipoNormal" name="tipo" class="custom-control-input" type="radio" value="N"
                            disabled="disabled"
                            [checked]="usuario.tipo == 'N'">
                        <label class="custom-control-label" for="tipoNormal">Normal</label>

                    </div>
                </div>


                <hr class="mb-4">
                <button type="button" [disabled]="!podeExcluir" class="btn btn-danger" (click)="excluir()">Excluir</button>
            </div>
        </div>
    </div>

</main>