<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Lista de Jogos </h1>
        <p>
            <a class="btn btn-primary" [routerLink]="['/jogos/cadastro']">Novo Jogo</a>
        </p>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Emprestado?</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let jogo of jogos">
                <td>
                    {{ jogo.nome }}
                </td>
                <td>
                    <input [checked]="jogo.emprestadoPara !== null" class="check-box" disabled="disabled"
                        type="checkbox">
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/jogos/detalhes', jogo.id]">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>&nbsp;
                    <a class="btn btn-info" *ngIf="jogo.emprestadoPara !== null"
                        [routerLink]="['/jogos/devolucao',jogo.id]">
                        <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                    </a>{{jogo.emprestadoPara !== null ? "&nbsp;" : ""}}
                    <a class="btn btn-info" *ngIf="jogo.emprestadoPara == null"
                        [routerLink]="['/jogos/emprestar',jogo.id]">
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    </a>{{jogo.emprestadoPara === null ? "&nbsp;" : ""}}
                    <a class="btn btn-warning" [routerLink]="['/jogos/cadastro', jogo.id]">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/jogos/excluir', jogo.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</main>