<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Exclusão de Amigo</h1>
        <div class="alert alert-danger" *ngIf="erros.length > 0">
            <h3 id="msgRetorno">Os seguintes erros ocorreram:</h3>
            <ul>
                <li *ngFor="let erro of erros">{{ erro }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Nome" bol><b>Nome:</b> </label>
                        {{ amigo.nome }}
                    </div>
                </div>

                <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
            </div>
        </div>
    </div>
</main>