<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h1 class="text-danger">Página não encontrada!</h1>
        </div>
    </div>
</main>