<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Login</h1>
    <div class="alert alert-danger" *ngIf="erros.length > 0">
      <h3 id="msgRetorno">Os seguintes erros ocorreram:</h3>
      <ul>
        <li *ngFor="let erro of erros">{{ erro }}</li>
      </ul>
    </div>
    <form class="form-signin" [formGroup]="formulario" (ngSubmit)="logar()" novalidate>
      <input type="text" id="login" class="form-control" formControlName="login" maxlength="20" placeholder="Login">
      <span class="text-danger" *ngIf="getErrosCampo('login').length > 0">
        <p *ngFor="let erro of getErrosCampo('login')">{{ erro }}</p>
      </span>

      <input type="password" id="senha" class="form-control" formControlName="senha" maxlength="20" placeholder="Senha">
      <span class="text-danger" *ngIf="getErrosCampo('senha').length > 0">
        <p *ngFor="let erro of getErrosCampo('senha')">{{ erro }}</p>
      </span>

      <div formArrayName="frameworks" *ngFor="let valor of formulario.get('frameworks').controls; let i=index">
        <input type="checkbox" [formControlName]="i">{{valores[i].nome}}
      </div>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="formulario.invalid">Entrar</button>
    </form>
    
  </div>
</main>

{{ formulario.value | json }}