<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Cadastro de Usuário </h1>
        <div class="alert alert-danger" *ngIf="erros.length > 0">
            <h3 id="msgRetorno">Os seguintes erros ocorreram:</h3>
            <ul>
                <li *ngFor="let erro of erros">{{ erro }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form [formGroup]="formulario" (ngSubmit)="salvar()" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="Nome">Nome</label>
                            <input type="text" class="form-control" id="nome" formControlName="nome" maxlength="50"
                                placeholder="">
                            <span class="text-danger" *ngIf="formMensagensErro.nome">
                                <p *ngFor="let erro of formMensagensErro.nome">{{ erro }}</p>
                            </span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Login">Login</label>
                            <input type="text" class="form-control" id="login" formControlName="login" maxlength="20"
                                placeholder="">
                            <span class="text-danger" *ngIf="formMensagensErro.login">
                                <p *ngFor="let erro of formMensagensErro.login">{{ erro }}</p>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="Senha">Senha</label>
                            <input type="password" class="form-control" id="senha" formControlName="senha"
                                maxlength="20" placeholder="">
                            <span class="text-danger" *ngIf="formMensagensErro.senha">
                                <p *ngFor="let erro of formMensagensErro.senha">{{ erro }}</p>
                            </span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ConfimacaoSenha">Confirmação</label>
                            <input type="password" class="form-control" id="senhaConfirmacao"
                                formControlName="senhaConfirmacao" maxlength="20" placeholder="">
                            <span class="text-danger" *ngIf="formMensagensErro.senhaConfirmacao">
                                <p *ngFor="let erro of formMensagensErro.senhaConfirmacao">{{ erro }}</p>
                            </span>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ativo" formControlName="ativo">
                        <label class="custom-control-label" for="ativo">Ativo?</label>
                    </div>
                    <hr class="mb-4">
                    <h4 class="mb-3">Tipo</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="tipoAdmin" name="tipo" formControlName="tipo" class="custom-control-input"
                                type="radio" value="A">
                            <label class="custom-control-label" for="tipoAdmin">Administrador</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input id="tipoNormal" name="tipo" formControlName="tipo" class="custom-control-input"
                                type="radio" value="N">
                            <label class="custom-control-label" for="tipoNormal">Normal</label>
                        </div>

                        <span class="text-danger" *ngIf="formMensagensErro.tipo">
                            <p *ngFor="let erro of formMensagensErro.tipo">{{ erro }}</p>
                        </span>
                    </div>


                    <hr class="mb-4">
                    <button type="button" class="btn btn-primary" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</main>