<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Controle o empréstimo de seus jogos!</h1>
      <p class="lead">Aqui você controlará da melhor forma o empréstimo de seus jogos, sabendo com quem está, evitando assim a perda dos mesmos.</p>
      <p>Desafio Invillia - 2020</p>
    </div>
  </main>
  