  html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {  
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
