<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="alert alert-danger">
            <h2 class="text-center text-danger">Acesso Negado!</h2>
        </div>
    </div>
</main>