<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Empréstimo de Jogo</h1>
        <div class="alert alert-danger" *ngIf="erros.length > 0">
            <h3 id="msgRetorno">Os seguintes erros ocorreram:</h3>
            <ul>
                <li *ngFor="let erro of erros">{{ erro }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Nome" bol><b>Nome:</b> </label>
                        {{ jogo.nome }}
                    </div>
                </div>
                <form [formGroup]="formulario" (ngSubmit)="emprestar()" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="amigo">Emprestar para</label>
                            <select class="custom-select d-block w-100" id="amigo" name="amigo" formControlName="amigo">
                                <option value="">Escolha...</option>
                                <option *ngFor="let amigo of amigos" [value]="amigo.id">{{ amigo.nome }}</option>
                            </select>
                            <span class="text-danger" *ngIf="formMensagensErro.amigo">
                                <p *ngFor="let erro of formMensagensErro.amigo">{{ erro }}</p>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Emprestar</button>
                </form>
            </div>
        </div>
    </div>
</main>