<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuarios/lista']">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/amigos/lista']">Amigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/jogos/lista']">Jogos</a>
        </li>
      </ul>

      <a *ngIf="!usuarioAutenticado" class="btn btn-outline-success my-2 my-sm-0"
        [routerLink]="['/usuarios/login']">Entrar</a>
      <a *ngIf="usuarioAutenticado" class="nav-link text-warning disabled" href="javascript:void(0)">Olá {{ nomeUsuario }}!</a>
      <a *ngIf="usuarioAutenticado" class="btn btn-outline-success my-2 my-sm-0" href="javascript:void(0)"
        (click)="logout()">Sair</a>

    </div>
  </nav>
</header>