<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Cadastro de Jogo </h1>
        <div class="alert alert-danger" *ngIf="erros.length > 0">
            <h3 id="msgRetorno">Os seguintes erros ocorreram:</h3>
            <ul>
                <li *ngFor="let erro of erros">{{ erro }}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form [formGroup]="formulario" (ngSubmit)="salvar()" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="Nome">Nome</label>
                            <input type="text" class="form-control" id="nome" formControlName="nome" maxlength="50"
                                placeholder="" value="">
                            <span class="text-danger" *ngIf="formMensagensErro.nome">
                                <p *ngFor="let erro of formMensagensErro.nome">{{ erro }}</p>
                            </span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</main>