<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Lista de Amigos </h1>
        <p>
            <a class="btn btn-primary" [routerLink]="['/amigos/cadastro']">Novo Amigo</a>
        </p>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let amigo of amigos">
                <td>
                    {{ amigo.nome }}
                </td>
                <td class="text-right">
                    <a class="btn btn-info" [routerLink]="['/amigos/detalhes', amigo.id]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-warning" [routerLink]="['/amigos/cadastro', amigo.id]">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/amigos/excluir', amigo.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</main>