<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Detalhes de Jogo</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Nome"><b>Nome:</b> </label>
                        {{ jogo.nome }}
                    </div>
                </div>
                <div class="row" *ngIf="jogo.emprestadoPara !== null">
                    <div class="col-md-6 mb-3">
                        <label for="emprestimo">Emprestado para</label>
                        <b> {{ jogo.emprestadoPara }}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>