<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Detalhes de Amigo</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Nome"><b>Nome:</b> </label>
                        {{ amigo.nome }}
                    </div>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">{{temJogoEmprestado() ? 'Está com os seguintes jogos': 'Não tem jogo emprestado'}}</h4>

                <table class="table table-hover" *ngIf="temJogoEmprestado()">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let jogo of amigo.jogosEmprestados">
                        <td>
                            {{ jogo }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>