<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Lista de Usuários </h1>
        <p>
            <a class="btn btn-primary" [routerLink]="['/usuarios/cadastro']">Novo Usuário</a>
        </p>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Tipo</th>
                    <th>Ativo?</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let usuario of usuarios">
                <td>
                    {{ usuario.nome }}
                </td>
                <td>
                    {{ usuario.login }}
                </td>
                <td>
                    {{ usuario.tipo === 'A' ? 'Administrador' : 'Normal' }}
                </td>
                <td>
                    <input [checked]="usuario.ativo" class="check-box" disabled="disabled" type="checkbox">
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/usuarios/cadastro/', usuario.id]">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/usuarios/excluir/', usuario.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</main>